* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.block {
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
}

label,
p {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 0;
  transition: color 0.2s;
}

input {
  opacity: 0.3;
}

label input:checked {
  background-color: red;
}

.rules {
  position: fixed;
  font-size: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: color 0.2s;
}

.copied {
  position: fixed;
  opacity: 0;
  background-color: aliceblue;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  text-align: center;
  left: 0;
  right: 0;
  top: 7rem;
  transition: opacity 0.5s;
}

article {
  position: fixed;
  opacity: 1;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.1s, background-color 0.2s;
}

article > p {
  margin: 1em 0;
  text-align: center;
  font-size: 1.25rem;
}
