* {
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.hue-gradient {
  display: flex;
  padding-left: 0.25rem;
  align-items: center;
  background: linear-gradient(
    90deg,
    hsl(0, 100%, 50%) 0%,
    hsl(36, 100%, 50%) 10%,
    hsl(72, 100%, 50%) 20%,
    hsl(108, 100%, 50%) 30%,
    hsl(144, 100%, 50%) 40%,
    hsl(180, 100%, 50%) 50%,
    hsl(216, 100%, 50%) 60%,
    hsl(252, 100%, 50%) 70%,
    hsl(288, 100%, 50%) 80%,
    hsl(324, 100%, 50%) 90%,
    hsl(360, 100%, 50%) 100%
  );
  grid-area: hue;
}

.grid {
  display: grid;
  height: 100vh;
  grid-template-columns: 40vw auto;
  grid-template-rows: auto min-content;
  grid-template-areas:
    "color-box examples"
    "controls controls";
}

.colour-box {
  grid-area: color-box;
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  grid-template-rows: 2rem auto;
  grid-template-areas:
    "hue hue hue"
    "sat colour light";
}

.examples {
  grid-area: examples;
  border: solid 1px black;
}

.controls {
  grid-area: controls;
}

.light-gradient {
  grid-area: light;
  background: linear-gradient(0deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 0%) 100%);
  padding-top: 1rem;
}

.hsl-text--white {
  color: white;
}

.sat-gradient {
  grid-area: sat;
  background: hsl(0, 0%, 100%);
  padding-top: 1rem;
  color: black;
}

.text-on-main {
  transition: color 0.3s;
}

.hsl-text--light,
.hsl-text--sat {
  transform: rotate(90deg);
  white-space: nowrap;
}

.box {
  grid-area: colour;
  display: grid;
  grid-template-columns: 1fr 10rem 1.5fr;
  grid-template-rows: 1fr 10rem 1fr 10rem 1fr;
  grid-template-areas:
    ". . ."
    ". one ."
    "copied copied copied"
    ". two ."
    ". . .";
}

.box--1 {
  grid-area: one;
}

.box--2 {
  grid-area: two;
}

.copied {
  grid-area: copied;
  opacity: 0;
  background-color: aliceblue;
  align-self: center;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  text-align: center;
  left: 0;
  right: 0;
  top: 5rem;
  transition: opacity 0.5s;
}

.hidden {
  display: none;
}

nav {
  display: flex;
  padding: 1rem;
  box-shadow: 0 0 0.75rem 0px black;
}

nav > input {
  padding: 0.5rem;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav--bottom {
  display: block;
  width: 100%;
  height: 0.25rem;
}

.controls {
  grid-area: controls;
  background-color: hsl(0, 0%, 96%);
  padding: 2rem;
}

label {
  margin-left: 1rem;
}

input {
  margin-right: 0.5rem;
}

.keys {
  border: 1px solid black;
  padding: 0 0.25rem;
}
