* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hue-gradient {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  right: 0;
  background: linear-gradient(
    90deg,
    hsl(0, 100%, 50%) 0%,
    hsl(36, 100%, 50%) 10%,
    hsl(72, 100%, 50%) 20%,
    hsl(108, 100%, 50%) 30%,
    hsl(144, 100%, 50%) 40%,
    hsl(180, 100%, 50%) 50%,
    hsl(216, 100%, 50%) 60%,
    hsl(252, 100%, 50%) 70%,
    hsl(288, 100%, 50%) 80%,
    hsl(324, 100%, 50%) 90%,
    hsl(360, 100%, 50%) 100%
  );
}

.light-gradient {
  position: fixed;
  z-index: 5;
  top: 2rem;
  bottom: 0;
  right: 0;
  width: 2rem;
  padding-top: 1rem;
  background: linear-gradient(0deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 0%) 100%);
}

.hsl-text {
  color: white;
}
.hsl-text--hue {
  transition: color 0.3s;
}

.hsl-text--light {
  transform: rotate(90deg);
  white-space: nowrap;
}

.back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.box-1 {
  position: absolute;
  top: 20vh;
  width: 20vh;
  bottom: 60vh;
  left: 20vw;
}

.box-2 {
  position: absolute;
  top: 50vh;
  width: 20vh;
  bottom: 30vh;
  left: 20vw;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: hsl(0, 0%, 96%);
}

.controls > p {
  margin: 0.5rem 0;
  text-align: center;
}

label {
  margin-left: 1rem;
}

input {
  margin-right: 0.5rem;
}

.keys {
  border: 1px solid black;
  padding: 0 0.25rem;
}

.copied {
  position: fixed;
  opacity: 0;
  background-color: aliceblue;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  text-align: center;
  left: 0;
  right: 0;
  top: 5rem;
  transition: opacity 0.5s;
}
